appdirs==1.4.3
-e git+git@github.com:natesymer/deity@cc9799c91d00391201cda0b698df007dc1ee7fa3#egg=deity
Glances==2.11.1
louis==3.3.0
packaging==16.8
pbr==3.1.1
psutil==5.6.6
pulsectl==17.9.3
pyparsing==2.2.0
pyxdg==0.25
six==1.11.0
stevedore==1.25.0
team==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
